*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
  margin: 0;
}
h1 {
  font: 20.2px/1 "Roboto Condensed", "Arial narrow", sans-serif;
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  margin-top: 17px;
  margin-left: 2px;
  margin-bottom: 22px;
  }
h2 {
  font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 18px;
   }
p {
  font: 11px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 12pt;
  padding: 0;
  margin: 20px 0 0 4px;
}
.p
{
  font: 11px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 12pt;
  padding: 0;
  margin: 6px 4px 8px 7px;
}
.c1 {
  text-align: center;
  margin: auto;
}
.foot {
  font: 11px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #c6c7cc;
  margin-top: 10pt;
  }
form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  width: 360px;
  height: auto;
  margin: 0 auto;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
input {
  border-radius: 4px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2px 0 13px 0;
  padding: 7px 3px;
  font-size: 8pt;
}
legend {
  font: 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 9px;
  padding-bottom: 21px;
  text-align: center;
}
.account-info {
  padding: 9px 19px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  margin-top: 0;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  width: 100%;
  margin-top: 3px;
  padding: 6px 3px;
}
.account-info select {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  font-size: 9pt;
  padding-top: 3px;
  padding-bottom: 0;
  margin-top: 4px;
  margin-bottom: 10px;
  height: 28px;
}
.account-action {
  background: #f3f3f3;
  border-top: 1px solid #c7c7c7;
  margin-top: 0;
  padding: 8px 24px 15px 41px;
  text-align: center;
  line-height: 10pt;
}
.account-action .btn {
  background: linear-gradient(#2d3d49, #355268);
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 16px;
  margin-bottom: 14px;
  height: 34px;
}
.account-action label {
  color: #7c7c80;
  font-size: 11px;  
}
input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  height: 28px;
  margin-bottom: 14px;
}
input[name="last_name"], input[class="email notnull"]{
  width: 100%;
  height: 27px;
  margin-bottom: 15px;
}
input[type="tel"]{
  height: 28px;
}
input[type="checkbox"] {
  padding-top: 1px;
  padding-left: 2px;
  margin-bottom: 0;
  margin-left: auto;
}
select {
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 6px 3px;
}
.tel {
   padding: 0;
   margin: 0;
}
.t{
  line-height: 10pt;
  margin-bottom: 5pt;
  height: 10px;
  font-weight: 300;
}
span {
  padding: 2px 0;
  font-weight: 300;
}
.u {
  margin-top: 5px;
  padding-left: 5pt;
  margin-bottom: 15px;
  height: 33px;
}
.country{
  margin-top: 0;
  margin-bottom: 0;
}
.password{
  margin-top: 7px;
}
.email{
  margin-top: 0;
  padding-top: 0;
}
