body {
  font-family: Arial;
  text-align: left;
  margin-left: 8pt;
  margin-right: 15pt;
}
h1 {
  font-family: verdana;
  font-size: 25pt;
  font-weight: 400;
  color: #3b4f7e;
  margin-bottom: 15pt;
  padding-bottom: 15pt;
  border-bottom: 3px solid #c7c7c7;
}
img{
  border: 0;
  float: left;
  margin-top: 15pt;
  margin-right: 17pt;
  margin-bottom: 20pt;
  margin-left: 17px;
}
p {
  font-family: verdana;
  font-size: 25px;
  margin: 8pt 0 0 0;
  max-width: 1350px;
}
span {
  font-weight: bold;
}
h2 {
  color: #333279;
  font-size: 22pt;
  padding-top: 10px;
  margin-bottom: 15pt;
  padding-bottom: 15pt;
  border-bottom: 3px solid #c7c7c7;
}
fieldset {
  border: 0;
  margin-left: 0;
  padding-left: 0;
}
table {
  margin-left: 5px;
}
label {

  font-size: 17pt;
  font-weight: 200;
  margin-right: 1px;
  margin-bottom: 40px;
  margin-top: 5px;
  color: rgb(77, 77, 77);
}
input {
  height: 33px;
  width:310px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 19pt;
}
.f {
  text-align: right;
  font-family: verdana;
  color: rgb(66, 66, 66);
}
.x {
  font-family: verdana;
  font-size: 19px;
  font-weight: 520;
  color: #c6c7cc;
  letter-spacing: unset;
}
select {
  height: 33px;
  width:310px;
  margin-bottom: 25px;
  font-size: 17pt;
}
.o {
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom:25px;
}
.o1 {
  font-weight: 700;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom:10px;
}
.s {
   height: 33px;
  width:310px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.s1 {
   height: 33px;
  width:310px;
  margin-top: 12px;
  margin-bottom: 0;
}
h3 {
  color: #434283;
  font-size: 17pt;
  padding-top: 10px;
  margin-bottom: 15pt;
  padding-bottom: 15pt;
  border-bottom: 3px solid #c7c7c7;
}
.c {
  margin-left: 0;
  margin-top: 0;
  font-size: 19px;
  font-weight: 700;
}
.k {
  margin-bottom: 0;
  padding-bottom: 0;
}
.k1 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 30px;
}
.u {
  margin-top: 0;
}
.btn {
  margin-left: 40px;
  width: 355px;
  margin-bottom: 0;
}
.a1 {
  font-family: verdana;
  font-size: 17px;
  font-weight: 520;
  color: #c6c7cc;
  letter-spacing: unset;
  margin-left: 40px;
  margin-top: 0;
}